* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.my-mt {
    margin-top: 10rem;
}

.accordion-button::after {
    background-image: url(./img/plus.svg) !important;
}

.accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color: #fff !important;
}
@media only screen and (max-width: 500px) {
    p {
        color: red;
    }
}