.navbar {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(170, 88, 170));
}

.navbar-brand {
  margin-left: 10px;
  font-size: 35px !important;
  color: rgb(234, 0, 255);
}

.logo_div {
  width: 10%;
}

.logo_img {
  width: 170%;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item a:hover:not(.active) {

  color: rgb(66, 29, 233);
}

.nav-item {

  margin-left: 20px;
}

.nav-link {
  font-size: 16px;
  color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
  opacity: 0.7;
}
#signin {
  background-color: rgb(187, 114, 187);
  border: 2px solid rgb(182, 216, 226);
  border-radius: 20px;
  width: 100px;
  text-align: center;
}
#signin:hover{
  background: pink;
}
.hero {
   background-image: url(images/happy-smiling-mother-playing-with-newborn-child-comfy-light-bedroom-front-window-moments-motherhood-happiness-with-kids-family-concept.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 500px;
  position: relative;
  margin-left: 30px;
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 90px 20px;
font-family: var(--default-font-family);
}
.hero h1 {
  color: rgb(7, 80, 80);
  margin-top: 20px;
  font-size: 35px;
}

.animate_div {
 /* background-color: white;  */
 border-radius: 8px;
 background: rgba(255, 255, 255, 0.2);
 /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); */
 /* backdrop-filter: blur(2px); */
 /* -webkit-backdrop-filter: blur(5px); */
 /* border: 1px solid rgba(170, 88, 170, 0.3); */
}
#slideset1 {
  height: 10em; 
  position: relative;
}
#slideset1 > * {visibility: hidden; position: absolute;
  top: 0; left: 0; animation: 12s autoplay1 infinite;
}
  @keyframes autoplay1 {
  0% {visibility: visible}
  50% {visibility: hidden}
}
#slideset1 > *:nth-child(1) {animation-delay: 0s}
#slideset1 > *:nth-child(2) {animation-delay: 6s}
.hero a{
  background-color: #dd4b39;
  color: white; 
  position: relative;
  top: 130px;
}
.hero a:hover{
  background-color: #39a9dd;
  color: white;
  
}
.mission {
  position: relative;
  margin: 0px 80px;
 color: rgb(5, 4, 4);
 padding: 30px;
}
.first {
  position: relative;
 top: 50px;
 color: rgb(8, 206, 206);
}
.second {
 margin-left: 50px;
}
.mission h2 {
  font-size: 22px;
}
.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

footer {
  color: rgb(170, 88, 170);
  margin-top: 20px;
  background-image: linear-gradient(to bottom, #ffffff, #e0d7f1, #c9afde, #b885c6, #aa58aa);
}
.main-container{
  margin-top: 20px;
  padding: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgb(170, 88, 170);
  transition: 0.3s;
  width: 200px;
  height: 160px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 aqua;
}

.container {
  padding: 2px 16px;
}
.material-icons{
  color: #aa58aa;
  font-size: 120px;
}

/* TESTIMONIALS SECTION */
.testimonials_row {
  margin-bottom: 8%;
  width: 100%;
  padding: 0 2%;
}
.testimonials_div {
  margin-bottom: 0;
}
.quote_img {
  width: 8%;
  position: absolute;
  right: 5%;
}

.testimonials_div p {
  color: rgb(170, 88, 170);
  font-weight: bold;
}

#testimonials_carousel {
  display: block;
  text-align: center !important;
  background-color: rgb(245, 245, 245);
  width: 30%;
  margin: 0 auto;
  position: relative;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  /* margin: 20px; */
  border: 2px solid #c9afde;
}

.carousel_in {
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgb(170, 88, 170);
  box-shadow: 0px 0px 30px rgb(20, 30, 39, 0.2);
}
.carousel_in:hover {
  transform: translateY(-7px);
}
.testimonial-text {
  padding: 4% 3%;
  text-align: center;
  line-height: 1.5;
  word-wrap: break-word;
  width: 85%;
  margin: 2% auto;
}
.for_carousel {
  display: block;
  margin: 5%;
  text-align: center;
}
.carousel_text i {
  color: rgb(170, 88, 170);
  position: absolute;
  left: 10%;
  top: 5%;
}
.first_carousel_text i {
  left: 9%;
}