.navbar {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(170, 88, 170));
}

.navbar-brand {
  margin-left: 10px;
  font-size: 35px !important;
  color: rgb(234, 0, 255);
}

.navbar-nav {
  margin-left: auto;
}

.nav-item a:hover:not(.active) {

  color: rgb(66, 29, 233);
}

.nav-item {

  margin-left: 20px;
}

.nav-link {
  font-size: 16px;
  color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
  opacity: 0.7;
}
#signin {
  background-color: rgb(187, 114, 187);
  border: 2px solid rgb(47, 146, 177);
  border-radius: 20px;
  width: 100px;
  text-align: center;
}
#signin:hover{
  background: pink;
}
.hero {
   background-image: url(images/happy-smiling-mother-playing-with-newborn-child-comfy-light-bedroom-front-window-moments-motherhood-happiness-with-kids-family-concept.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 500px;
  position: relative;
  margin-left: 30px;
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 90px 20px;
font-family: var(--default-font-family);
}
.hero h1 {
  color: red;
}
#slideset1 {
  height: 10em; 
  position: relative;
}
#slideset1 > * {visibility: hidden; position: absolute;
  top: 0; left: 0; animation: 12s autoplay1 infinite;
}
  @keyframes autoplay1 {
  0% {visibility: visible}
  33.33% {visibility: hidden}
}
#slideset1 > *:nth-child(1) {animation-delay: 0s}
#slideset1 > *:nth-child(2) {animation-delay: 6s}
.hero a{
  background-color:  #39a9dd;
  color: white; 
  position: relative;
  top: 130px;
}
.hero a:hover{
  background-color: #dd4b39;
  color: white;
  
}
.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

footer {
  color: rgb(170, 88, 170);
  margin-top: 20px;
  background-image: linear-gradient(to bottom, #ffffff, #e0d7f1, #c9afde, #b885c6, #aa58aa);
}
.main-container{
  margin-top: 96px;
  padding: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgb(170, 88, 170);
  transition: 0.3s;
  width: 200px;
  height: 160px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 aqua;
}

.container {
  padding: 2px 16px;
}
.material-icons{
  color: orangered;
  font-size: 120px;
}