section{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(170, 88, 170)); 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    


}

.container{
    height: 70%;
    width:60%;
    display: flex;

}
form{
    width: 50%;
    height: 100%;
    background-color: white;

}
.form_logo{
    width: 50%;
    height: 100%;
    background-color: rgb(0, 189, 214)
}

form p{
    margin: 30px 80px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;

}

.form-group{
    margin: 10px 50px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: none !important;
}   


.form-control{
    height: 100%;
    border-radius: 0px!important;
    border: 2px solid rgba(0, 189, 214, .3) ;
    background-color: transparent;
    resize: none;
    outline: none;
    
}
.form-group:nth-child(4){
    background-color: transparent !important;
}
.form-control::placeholder{
    font-size: 13px;
    position: relative;
    right:10px;
    bottom: 4px;
    background-color: transparent


}
label{
    font-size: 12px;
    font-weight: 600;
}
.form-check-label{
    font-size: 11px;
    font-weight: 500;
    
}

.form-check-label:last-child{
    color: #00bdd6;
    margin-left: 70px;
    font-size: 11px;
    font-weight: 400;

}

form button{
    width: 80%;
    margin: 0px 40px;
    background-color: rgba(0, 189, 214, .6) !important;
    border: 1px solid transparent !important;

}

.form_logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}