.navbar {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(170, 88, 170)); 
}
.navbar-brand {
  margin-left: 10px;
  font-size: 35px;
  color:rgb(234, 0, 255);
}
.navbar-nav {
  position: relative;
 left: 370px;

 
}
 .nav-item a:hover:not(.active) {

color:rgb(66, 29, 233);
}
.nav-item {
  
  margin-left: 20px;
}
.nav-link {
  font-size: 20px;
  color:rgb(255, 255, 255);
}