section{
    height: 100vh;
    display: flex;
}

.leftcontainer{
    width: 55%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rightContainer{
    background-color: rgb(0, 189, 214);
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

form{
    width:60%
}
form p{
    margin: 30px 80px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;

}

.form-group{
    margin: 10px 50px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: none !important;
}   


.form-control{
    height: 100%;
    border-radius: 0px!important;
    border: 2px solid rgba(0, 189, 214, .3) ;
    background-color: transparent;
    resize: none;
    outline: none;
    
}
.form-group:nth-child(4){
    background-color: transparent !important;
}
.form-control::placeholder{
    font-size: 13px;
    position: relative;
    right:10px;
    bottom: 4px;
    background-color: transparent


}
label{
    font-size: 12px;
    font-weight: 600;
}
.form-check-label{
    font-size: 11px;
    font-weight: 500;
    
}

.form-check-label:last-child{
    color: #00bdd6;
    margin-left: 70px;
    font-size: 11px;
    font-weight: 400;

}

form button{
    width: 77%;
    margin: 15px 50px;
    background-color: rgba(0, 189, 214, .6) !important;
    border: 1px solid transparent !important;

}
small{
    font-size: 11px;
    margin: 130px;
}

.centerContainer{
    height:35%;
    width: 38%;
    border-top:0px;
    position: relative;
    bottom: 10%;
    background-color: rgb(170, 88, 170);

}

.topContainer{
    width:38%;
    height: 38%;
    border-radius: 50%;
    border-bottom: 0px;
    background-color: rgb(170, 88, 170);
    border-left: 0px;
    border-right: 0px;
    position: relative;
    top:10%
    
}

.centerContainer img{
    height: 150%;
    width:96%;
    position: relative;
    left: 6%;
    bottom: 30%;
}
.doc {
    height :10%;
    position: absolute;
    z-index: 1;
    left: 28%;
    width: 10%;
}